@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');


body {
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.initial-screen {
    margin: auto;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.initial-screen img {
    width: 136px;
    height: 161px;
}

h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}

.initial-screen .button-start {
    width: 246px;
    height: 54px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.15);
    font-weight: 400;
    color: #D70900;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.initial-screen .button-start:hover {
    filter: brightness(0.8);
}

.deck-screen {
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deck-screen img {
    width: 52px;
    height: 60px;
}

.deck-screen .top-deck-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin: 38px auto auto;
}

.deck-screen .deck-progress {
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0 -4px 6px 0 rgba(0,0,0,0.05);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
}

.deck {
    margin: 51px 0 120px;
    width: 80%;
    max-width: 450px;
    min-width: 300px;
}

.flashcard {
    width: 100%;
    height: 65px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow:  0 4px 5px 0 rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 25px;
    transition: heigth .2s linear;
    color: #333333;
    position: relative;
}

.flashcard span {
    font-weight: 700;
    font-size: 16px;
}

.flashcard ion-icon {
    width: 20px;
    height: 23px;
    cursor: pointer;
}

.flashcard.progress-ask,
.flashcard.progress-answer {
    height: auto;
    min-height: 131px;
    background-color: #FFFFD4;
    padding: 15px;
    align-items: flex-start;
}

.flashcard.progress-ask span,
.flashcard.progress-answer span {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

.flashcard.progress-ask img,
.flashcard.progress-answer img {
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.flashcard.progress-answer {
    display: flex;
    flex-direction: column;
}

.progress-answer .options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.options .option-1,
.options .option-2,
.options .option-3 {
    width: 31%;
    height: 37px;
    border-radius: 5px;
    font-size: 12px;
    padding: 7px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF3030;
}

.options .option-2 {
    background-color: #FF922E;
}

.options .option-3 {
    background-color: #2FBE34;
}

.incorrect {
    color: #FF3030;
}

.correct {
    color: #FF922E;
}

.correct-good {
    color: #2FBE34;
}

.flashcard.concluded ion-icon {
    width: 23px;
    height: 23px;
}