.initial-screen {
	margin: auto;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.initial-screen img {
	width: 136px;
	height: 161px;
}

.initial-screen a {
	text-decoration: none;
}

.initial-screen .button-start {
	width: 246px;
	height: 54px;
	border-radius: 5px;
	background-color: #ffffff;
	border: 1px solid #d70900;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	font-weight: 400;
	color: #d70900;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.initial-screen .button-start:hover {
	filter: brightness(0.8);
}

.access {
	width: 30px;
	filter: invert(1);
	align-self: end;
	margin: 10px;
    cursor: pointer;
}
